################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/bin
/obj/Debug
/obj/Debug/build.force
/packages/Lib.Harmony.2.3.5
/packages/Lib.Harmony.2.3.5/.signature.p7s
/packages/Lib.Harmony.2.3.5/HarmonyLogo.png
/packages/Lib.Harmony.2.3.5/lib
/packages/Lib.Harmony.2.3.5/lib/net35
/packages/Lib.Harmony.2.3.5/lib/net35/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net35/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net35/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net452
/packages/Lib.Harmony.2.3.5/lib/net452/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net452/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net452/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net472
/packages/Lib.Harmony.2.3.5/lib/net472/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net472/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net472/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net48
/packages/Lib.Harmony.2.3.5/lib/net48/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net48/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net48/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net5.0
/packages/Lib.Harmony.2.3.5/lib/net5.0/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net5.0/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net5.0/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net6.0
/packages/Lib.Harmony.2.3.5/lib/net6.0/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net6.0/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net6.0/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net7.0
/packages/Lib.Harmony.2.3.5/lib/net7.0/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net7.0/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net7.0/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net8.0
/packages/Lib.Harmony.2.3.5/lib/net8.0/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net8.0/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net8.0/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/net9.0
/packages/Lib.Harmony.2.3.5/lib/net9.0/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/net9.0/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/net9.0/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.0
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.0/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.0/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.0/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.1
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.1/0Harmony.dll
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.1/0Harmony.pdb
/packages/Lib.Harmony.2.3.5/lib/netcoreapp3.1/0Harmony.xml
/packages/Lib.Harmony.2.3.5/lib/netstandard2.0
/packages/Lib.Harmony.2.3.5/lib/netstandard2.0/_._
/packages/Lib.Harmony.2.3.5/Lib.Harmony.2.3.5.nupkg
/packages/Lib.Harmony.2.3.5/LICENSE
/packages/Lib.Harmony.2.3.5/README.md
